* {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: darkcyan;
  color: beige;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul > li {
  font-size: 1rem;
}
